# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment
.env

# VSCode
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db